html, body {
  height: 100%;
  margin: 0;
}

.flex-column {
  display: flex;
  flex-flow: column nowrap;
}

.box {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;

  .header-row {
    flex: 0 0 auto;

    .button {
      display: inline-block;
      &.right {
        float: right;
      }
    }
  }

  .body-row {
    flex: 1 1 auto;
    flex-flow: row;
    display: flex;
    flex-flow: row nowrap;

    .left-column {
      flex: 0 0 400px;
      @extend .flex-column;

      h1 {
        flex: 0 0 auto;
      }

      .collapsable {
        flex: 1 1 auto;
        overflow-y: auto;
      }

      #ace-data-editor {
        flex: 1 1 auto;
      }

      #ace-script-editor {
        flex: 1 1 auto;
      }
    }

    .center-column {
      flex: 1 1 auto;
      @extend .flex-column;

      svg {
        flex: 1 1 auto;
      }
    }

    .right-column {
      flex: 0 0 200px;
      @extend .flex-column;
      display: none;
    }
  }

  .footer-row {
    flex: 0 0 auto;
  }
}

.button-row {
  margin: 6px 0;
  button {
    float: right;
  }
}
