#about
  p
    strong Connect My Dots
    span= ' (' + VERSION_NUMBER + ') '
    | is free software by&#0032;
    a(href="http://glasselevatorarts.com") Glass Elevator Arts Consulting
    | , designed to help artists visualize their professional network.

  h2 Instructions
  ol
    li.
      Enter a name in the textbox and click <kbd>Add Person</kbd> to
      put a new person on the graph.
    li.
      Click on a person in the list to select them.
    li.
      Click the checkboxes next to other people in the list to connect
      them to the selected person.

  h2 Saving your work
  p.
    If you don't sign in, your network map is autosaved to local storage, so as
    long as you are on the same computer and browser, your map will be here when
    you return.  If you register an account, we'll save your map to our server
    and you can load it from any computer!

  h2 Want to help?
  p.
    If you find a bug or have a suggestion, you can
    <a href="https://github.com/islemaster/connectmydots/issues/new">open
    an issue on GitHub</a> to tell us about it.