.footer-row
  | &copy;&ensp;
  span= '2015-' + (new Date().getFullYear().toString(10))
  | ,&nbsp;
  a(href="http://bradleycbuchanan.com") Brad
  | &nbsp;&amp;&nbsp;
  a(href="http://glasselevatorarts.com") Alleson Buchanan
  | .&nbsp;
  a(href="https://github.com/islemaster/connectmydots")
    span= 'Version ' + VERSION_NUMBER + '. '