.header-row
  .button.dropdown-root
    span ▾&nbsp;
    span.greeting
    .dropdown-content
      a.sign-in-link(href="#") Sign in
      a.sign-up-link(href="#") Sign up
      a.sign-out-link(href="#") Sign out
  .button.about About
  .button.clearContent Clear
  .button.loadDemoContent Demo
  h1 Connect <span>My</span> Dots
