.header-row
  .button.right.dropdown-root
    span &nbsp;▾&nbsp;
    span.greeting
    .dropdown-content
      a.sign-in-link(href="#") Sign in
      a.sign-up-link(href="#") Sign up
      a.sign-out-link(href="#") Sign out
  .button.right.about About
  .button.right.clearContent Clear
  .button.right.loadDemoContent Demo
  h1 Connect <span>My</span> Dots
  .button.dropdown-root
    span &nbsp;▾&nbsp;
    span.project-name New Network Map (not saved)
    .dropdown-content
      a(href="#") Save as...
      a(href="#") Load...
      a(href="#") Delete
