#sign-in
  form(onsubmit="onSubmitSignIn(); return false;")
    table
      tbody
        tr
          th Email
          td
            input(name="user-id")
          td.user-id.feedback
        tr
          th Password
          td
            input(name="password" type="password")
          td.password.feedback
        tr
          th
          td(colspan=2)
            input(type="submit" value="Sign In")
            span.general.feedback
        tr
          th
          td(colspan=2) Don't have an account? <a href="#" class="sign-up-link">Click here to sign up.</a>

#sign-up
  form(onsubmit="onSubmitSignUp(); return false;")
    table
      tbody
        tr
          th Email
          td
            input(name="user-id" placeholder="you@example.com")
          td.user-id.feedback
        tr
          th Password
          td
            input(name="password" type="password")
          td.password.feedback
        tr
          th Confirm Password
          td
            input#confirm-password(name="confirm-password" type="password")
          td.confirm-password.feedback
        tr
          th Display Name
          td
            input#display-name(name="display-name" placeholder="Regina")
          td.display-name.feedback
        tr
          th
          td(colspan=2)
            | Stay connected with email updates?
            input(type="radio" name="is-email-okay" value="true" checked)
            | &nbsp;Yes
            input(type="radio" name="is-email-okay" value="false")
            | &nbsp;No
        tr
          th
          td(colspan=2)
            input(type="submit" value="Sign Up")
            span.general.feedback
        tr
          th
          td(colspan=2) Already have an account? <a href="#" class="sign-in-link">Click here to sign in.</a>