h1(data-for='node-detail') Details
#node-detail.collapsable
  .without-selected
    p Select a node
    
  .with-selected
    label(for='node-name') Name
    input#node-name(type='text')

    label(for='node-notes') Notes
    textarea#node-notes

    .button-row
      button.delete
        i.fa.fa-fw.fa-trash
        span Delete
