h1(data-for='node-list') Nodes
#node-list.collapsable
  ul
  input#new-node-name(type='text')
  input#add-node(type='button', value='Add Person')
  #h2 Details:
  #node-details
    p Connections
    .connections-list
