doctype html
html
  head
    title Connect My Dots
    link(rel='stylesheet', href='lib/normalize.css', type='text/css')
    link(rel='stylesheet', href='lib/jquery-ui-1.11.4.custom/jquery-ui.css', type='text/css')
    link(rel='stylesheet', href='css/layout.css', type='text/css')
    link(rel='stylesheet', href='css/style.css', type='text/css')
    script(src='lib/ace.js')
    script(src='lib/d3.v3.min.js')
    script(src='lib/jquery-2.1.3.min.js')
    script(src='lib/jquery-ui-1.11.4.custom/jquery-ui.min.js')
    script.
      // HACK - provide a dumb exports object for global use
      var exports = {};
    script(src='js/utils.js', charset='utf-8')
    script(src='js/NodeList.js')
    script(src='js/Edge.js', charset='utf-8')
    script(src='js/liveEdit.js')
    script(src='js/connectMyDots.js', charset='utf-8')
    
    | <script>
    |   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    |   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    |   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    |   })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    | 
    |   ga('create', 'UA-64527972-1', 'auto');
    |   ga('send', 'pageview');
    | </script>

  body
    .box
      include ./jade/head.jade

      .body-row
        .left-column
          include ./jade/nodeList.jade
          
          h1(data-for='edit-json', style='display:none') Edit JSON
          #edit-json.collapsable.flex-column(style='display:none')
            #data-parse-status.status-bar
            pre var data = {
            #ace-data-editor
            pre }
            
          h1(data-for='edit-script', style='display:none') Edit Script
          #edit-script.collapsable.flex-column(style='display:none')
            #script-parse-status.status-bar
            pre function render(data, target, forceGraph) {
            #ace-script-editor
            pre }

        .center-column
          svg

        .right-column

      include ./jade/foot.html
      
      #about
        p.
          <strong>Connect My Dots</strong> (v0.2.0) is free software by 
          <a href="http://allesonbuchanan.com/">Alleson Buchanan</a>,
          designed to help artists visualize their professional network.
        p.
          <em>Note: This software is still in development and may change a lot
          over the next few months.  Data you enter may not be saved reliably.</em>
          
        h2 Instructions
        ol
          li.
            Enter a name in the textbox and click <kbd>Add Person</kbd> to
            put a new person on the graph.
          li.
            Click on a person in the list to select them.
          li.
            Click the checkboxes next to other people in the list to connect
            them to the selected person.
          li.
            To delete a person, select them and press <kbd>Del</kbd> on your keyboard.
            
        h2 Saving your work  
        p.
          We don't send any of your data to our servers;  it is autosaved
          to local storage so as long as you are on the same computer and browser,
          your network will be here when you return.
          
        h2 Want to help?
        p.
          If you find a bug or have a suggestion, you can 
          <a href="https://github.com/islemaster/connectmydots/issues/new">open
          an issue on GitHub</a> to tell us about it.
        
