doctype html
html
  head
    title Connect My Dots
    link(rel='stylesheet', href='lib/normalize.css', type='text/css')
    link(rel='stylesheet', href='css/layout.css', type='text/css')
    link(rel='stylesheet', href='css/style.css', type='text/css')
    script(src='lib/ace.js')
    script(src='lib/d3.v3.min.js')
    script(src='lib/jquery-2.1.3.min.js')
    script(src='js/polyfills.js', charset='utf-8')
    script(src='js/accordion.js', charset='utf-8')
    script(src='js/edge.js', charset='utf-8')
    script(src='js/connectMyDots.js', charset='utf-8')
    script(src='js/liveEdit.js')

  body
    .box
      include ./jade/head.jade

      .body-row
        .left-column
          include ./jade/nodeList.jade
          
          h1(data-for='edit-json') Edit JSON
          #edit-json.collapsable
            #data-parse-status.status-bar
            pre var data = {
            #ace-data-editor
            pre }
            
          h1(data-for='edit-script') Edit Script
          #edit-script.collapsable
            #script-parse-status.status-bar
            pre function render(data, target, forceGraph) {
            #ace-script-editor
            pre }

        .center-column
          svg

        .right-column

      include ./jade/foot.html
